name: Java common test

on: [push]

defaults:
  run:
    working-directory: java/common

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
      - run: mkdir artifact && cp target/*.jar artifact && cp -r target/dependency artifact
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: java-common-artifact
          path: artifact
